/*
    Taille du text sur la page 14px, 16px, 18px et épaisseur 500, 600, 700
    fond gris #F2F2F2 
    chart blues #0065FC - plus claire #DEEBFF
*/
html {
    scroll-behavior: smooth;
}

body {
    background-color: White;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

div.corps {
    /*margin: 0 5vh;
    display: block;*/
    margin: 0 auto;
    max-width: 1850px;
}

a {
    text-decoration: none;
    color: black;
}

/*---------- HEADER ---------*/
header {
    /*font-size: 2vh;
    display: flex;
    margin: 0 5vh;*/
    margin: 0 auto;
    max-width: 1850px;
}

.navigation {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo {
    height: 8vh;
    order: 1;
}

.menu_bas {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-end;
}

.menu_inscr {
    order: 3;
    border-top: 2px solid white;
}

.link_inscr {
    color: #0065FC;
    font-weight: 600;
}

.menu_act {
    order: 2;
    border-top: 2px solid white;
}

.link_act {
    color: black;
}

.menu_heb {
    order: 1;
    border-top: 2px solid #0065FC;
}

.link_heb {
    color: #0065FC;
}

.menu_act, .menu_inscr, .menu_heb {
    padding: 0 20px 0 20px;
    text-decoration: none;
    line-height: 15vh;
    font-weight: 500;
    -webkit-transition: 1s ease; /* Safari and Chrome */
    -moz-transition: 1s ease; /* Firefox 4 */
    -o-transition: 1s ease; /* Opera */
}

    .menu_act:hover, .menu_inscr:hover, .menu_heb:hover {
        border-top: 2px solid #0065FC;
        color: #0065FC;
        display: flex;
        text-decoration: none;
        background-color: white;
    }

.link_act:hover {
    color: #0065FC;
}
/*---------- FIN HEADER ---------*/

/*SOUS-HEADER -----------------------------*/
.sousheader { /*Section entier Sous Header*/
    font-weight: 500;
    width: 100%;
    margin: 0;
}

.sousheader_titre {
    display: flex;
    
    margin: 2vh 0;
}

.n1 {
    font-size: 3vh;
    font-weight: 700;
}

.n2 {
    font-size: 2vh;
    font-weight: 500;
}

.n3 {
    font-size: 2vh;
    font-weight: 500;
    align-items: center;
    margin: 0 0 1vh 0;
}

.ico_info {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-around;
    width: 4vh;
    height: 4vh;
    border-radius: 5vh;
    border: 2px solid #F2F2F2;
    margin-right: 10px;
    font-size: 2.5vh;
}

.fa-info {
    color: #0065FC;
}
/*FIN SOUS-HEADER -----------------------------*/

/*--------------------------------------------------------FORME RECHERCHE*/
.block_recherche {
    font-size: 2vh;
    width: 100%;
    margin: 10px 0 10px 0;
}

.search {
    display: flex;
    align-items: stretch;
    max-height: 8vh;
    font-size: 3vh;
}

.ico_geo {
    display: flex;
    background-color: #F2F2F2;
    align-items: center;
    justify-content: space-around;
    width: 8vh;
    margin-right: -4px;
    border-bottom-left-radius: 3vh;
    border-top-left-radius: 3vh;
}

.fa-map-marker-alt {
    color: black;
}

#in_recherche { /*input pour la recherche de la ville*/
    color: black;
    border: 1px solid #F2F2F2;
    vertical-align: middle;
    padding: 2vh;
    width: 30%;
    outline: none;
    font-family: Raleway;
    font-size: 2vh;
}

.b_recherche {
    background-color: #0065FC;
    outline: none;
    border: 0 solid;
    font-family: Raleway;
    font-weight: 600;
    color: white;
    cursor: pointer;
    font-size: 2.5vh;
}

.ordi {
    display: none;
    border-top-right-radius: 3vh;
    border-bottom-right-radius: 3vh;
    padding: 0 20px;
}

.mobil {
    display: none;
    padding: 15px 20px 17px;
    border-radius: 15px;
    position: relative;
    right: 10px;
}
/*--------------------------------------------------------FIN FORME RECHERCHE*/

/*PARTIE FILTRE--------------------------------------------------------------------------------*/
#chois_filtre {
    font-size: 2vh;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 2vh 0 0 0;
    width: 100%;
}

.mot_filtre {
    text-align: center;
    padding-right: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.block_filtre {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 6vh;
    text-align: center;
    position: relative;
    margin: 0 2vh 2vh 0;
    -webkit-transition: 1s ease; /* Safari and Chrome */
    -moz-transition: 1s ease; /* Firefox 4 */
    -o-transition: 1s ease; /* Opera */
}

    .block_filtre:hover {
        background-color: #F2F2F2;
    }

.link_filtre {
    color: black;
    display: flex;
    align-items: center;
}


.ico_filtre {
    display: flex;
    background-color: #DEEBFF;
    color: #0065FC;
    width: 7vh;
    height: 7vh;
    align-items: center;
    justify-content: space-around;
    border-radius: 6vh;
    margin: -2px;
    font-size: 2.5vh;
}

.filtres { /*Nom filtres*/
    margin: 0 2vh;
    font-weight: 700;
}

.fa-heart, .fa-child, .fa-dog, .fa-money-bill-wave {
}
/*FIN PARTIE FILTRE--------------------------------------------------------------------------------*/

h2.titre { /*pour le titre de section hebergement plus populaire activité*/
    display: flex;
    flex-wrap: wrap;
    font-size: 3vh;
    font-weight: 700;
    margin: 10px 0 20px 0;
    justify-content: space-between;
}

b.titre { /*pour les articles*/
    display: block;
    flex-wrap: wrap;
    font-weight: 700;
    font-size: 1.8vh;
    margin: 0 0 0.5vh 0;
}

/*------- APPARTEMENT --------*/
#hebergement {
    display: flex;
    padding: 0;
}

.appnom {
    order: 0;
}

.local {
    order: 0;
}

.aplus {
    order: 2;
    font-size: 2vh;
    /*padding-top: 2%;*/
}

/*hebergement*/
#ville {
    background-color: #F2F2F2;
    border-radius: 20px 20px;
    margin: 1.5vh 1.5vh 1.5vh 0;
    padding: 2%;
    display: flex;
    order: 1;
    flex: 5;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.total_heb {
    /*order: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;*/
    /*height: 30vh;*/
    order: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 2vh;
}

.heb1, .heb2, .heb3, .heb4, .heb5, .heb6 {
    /*display: flex;
    flex-direction: column;
    background-color: white;
    height: 85%;
    margin: 0 0 3% 0;
    padding: 5px;
    box-shadow: 0 0 10px #808080; 
    border-radius: 15px;*/
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 0 0 2vh 0;
    padding: 0.7vh;
    box-shadow: 0 0 10px #808080;
    border-radius: 15px;
}

    .heb1:hover, .heb2:hover, .heb3:hover, .heb4:hover, .heb5:hover, .heb6:hover {
        box-shadow: 0 0 10px #0065FC;
    }

.hebimg {
    width: 100%;
    height: 15vh;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.discription { /*ça utilise pour hebergement, populaire, activité*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 1.8vh;
    justify-content: space-between;
}

.article_heb {
    padding: 0.5vh 1.5vh;
}

.heb1 {
    order: 1;
    flex-basis: 30%;
}

.heb2 {
    order: 1;
    flex-basis: 30%;
}

.heb3 {
    order: 1;
    flex-basis: 30%;
}

.heb4 {
    order: 1;
    flex-basis: 30%;
}

.heb5 {
    order: 1;
    flex-basis: 30%;
}

.heb6 {
    order: 1;
    flex-basis: 30%;
}

.heb_block_link, .act_block_link { /*lien sur activité ici aussi*/
    text-decoration: none;
    color: black;
    height: 100%;
}
/*fin hebergement*/
/*populaire*/
#populaires {
    border-radius: 20px 20px;
    margin: 1.5vh 0 1.5vh 1.5vh;
    padding: 2%;
    display: flex;
    order: 2;
    flex: 2;
    background-color: #F2F2F2;
    flex-direction: column;
}

.total_pop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.pop1, .pop2, .pop3 {
    display: flex;
    background-color: white;
    box-shadow: 0 0 10px #808080; /*ombre pour les plus populaires */
    height: 50px;
    max-height: 27%;
    border-radius: 15px;
}

    .pop1:hover, .pop2:hover, .pop3:hover {
        box-shadow: 0 0 10px #0065FC;
    }

.popimg {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.article_pop {
    margin: 10px 0 10px 10px;
}

.pop_img_block {
    display: flex;
    max-width: 40%;
    max-height: 20vh;
    padding: 0.7vh;
}

.pop1 {
    flex: 1;
    order: 1;
    margin-bottom: 10%;
}

.pop2 {
    flex: 1;
    order: 2;
    margin-bottom: 10%;
}

.pop3 {
    flex: 1;
    order: 3;
}

.top_pop_discription {
    display: flex;
    flex-direction: column;
}

.bot_pop_discription {
    display: flex;
}

.pop_block_link {
    display: contents;
    text-decoration: none;
    color: black;
    height: 100%;
}
/*fin populaire*/
.prix {
    display: flex;
    flex-wrap: wrap;
    order: 1;
}
/*------ FIN APPARTEMENT ---------*/

/*--------------------- ACTIVITE -------------------*/
#activite {
    margin: 2% 0;
    display: flex;
    flex-direction: column;
}

.tactnom {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.8vh;
    font-weight: 700;
    margin: 0 0.5vh 1.5vh 0.5vh;
}

.total_act {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btab1, .btab2 {
    display: flex;
    flex-basis: 48%;
    justify-content: space-between;
}


.range1, .range2, .range3, .range4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*flex-basis: 23%;*/
    flex-basis: 46%;
    border-radius: 20px;
}

.range1 {
    order: 1;
    background-color: white;
    box-shadow: 0 0 10px #808080;
    border-radius: 20px;
}

.range2 {
    order: 2;
}

.range3 {
    order: 3;
    background-color: white;
    box-shadow: 0 0 10px #808080;
    border-radius: 20px;
}

.range4 {
    order: 4;
}

.act1, .act2, .act3, .act4, .act5, .act6 {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

    .range1:hover, .act2:hover, .act3:hover, .range3:hover, .act5:hover, .act6:hover {
        box-shadow: 0 0 10px #0065FC;
    }

.act1 {
    order: 1;
}

.act2 {
    order: 2;
    order: 3;
    background-color: white;
    box-shadow: 0 0 10px #808080;
    border-radius: 20px;
}

.act3 {
    order: 3;
    order: 3;
    background-color: white;
    box-shadow: 0 0 10px #808080;
    border-radius: 20px;
}

.act4 {
    order: 4;
}

.act5 {
    order: 5;
    order: 3;
    background-color: white;
    box-shadow: 0 0 10px #808080;
    border-radius: 20px;
}

.act6 {
    order: 6;
    order: 3;
    background-color: white;
    box-shadow: 0 0 10px #808080;
    border-radius: 20px;
}

.article_act { /*discription*/
    padding: 1.5vh;
}

.fleximage {
    display: flex;
}

.actimg_grande {
    width: 100%;
    height: 52vh;
    object-fit: cover;
    padding-bottom: 2%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.actimg_plusquemoyen {
    width: 100%;
    height: 25vh;
    object-fit: cover;
    padding-bottom: 2%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.actimg_moyen {
    width: 100%;
    height: 20vh;
    object-fit: cover;
    padding-bottom: 2%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.actimg_petit {
    width: 100%;
    height: 15vh;
    object-fit: cover;
    padding-bottom: 2%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
/*------------------- FIN ACTIVITE -----------------*/

/*--------------------------------BLOCK LES ETOILES*/
.stars {
    display: flex;
    order: 2;
}

.pop {
}

.heb {
    margin: 4% 0 0 0;
}
/*--------------------------------FIN BLOCK ETOILES*/

/*ICONES*/
.fa-star {
    color: #0065FC;
    margin-left: 0.2vh;
}

.no_color {
    color: #D9D9D9;
}

.count {
    display: flex;
    align-items: center;
}

.fa-chart-line {
    display: flex;
    color: black;
}

.fa, .fab, .fad, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    /* display: inline-block; */
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
}
/*-----FIN ICONE-----*/

/*------- LES ELEMENTS FOOTER -----------*/
.ftitre {
    padding: 15px 0;
}

div.about {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    /*margin: 0 5vh;*/
    margin: 0 auto;
    max-width: 1850px;
}

.propos, .nos_hebergement, .assistance {
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    flex-basis: 30%;
}

footer {
    margin-top: 10vh;
    display: block;
    background-color: #F2F2F2;
    font-size: 1.8vh;
}


ol {
    margin: 0;
    padding: 0;
}

    ol li {
        list-style-type: none;
        padding: 1vh 0;
    }
/*------ FIN LES ELEMENTS FOOTER --------*/


/*-----------------------------------------*/
/*-----------------DEBUT MEDIA-------------*/
/*-----------------------------------------*/
@media screen and (min-width: 1920px) {
    .ordi {
        display: inline-block;
    }
}

@media screen and (max-width: 1920px) {
    .ordi {
        display: inline-block;
    }

    div.corps {
        /*margin: 0 auto;
        max-width: 1850px;*/
        margin: 0 5vh;
        display: block;
    }

    header {
        /*margin: 0 auto;
        max-width: 1850px;*/
        font-size: 2vh;
        display: flex;
        margin: 0 5vh;
    }

    div.about {
        margin: 0 5vh;
        /*margin: 0 auto;
        max-width: 1850px;*/
    }

    .propos, .nos_hebergement, .assistance {
        flex-basis: 25%;
    }
}

@media screen and (max-width: 1345px) /*(max-width: 1346px) and (min-width: 1025px)*/ {
    .ordi {
        display: inline-block;
    }

    #hebergement {
        flex-direction: column;
    }

    #ville {
        order: 2;
        margin: 0;
    }

    .total_heb {
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
    }

    .btot {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #populaires {
        order: 1;
        margin: 1.5vh 0;
    }

    .total_pop {
        flex-direction: row;
    }

    .pop1, .pop2, .pop3 {
        height: 20vh;
        width: 20%;
    }

    .pop1, .pop2 {
        margin-bottom: 1vh;
        margin-right: 3vh;
    }

    .pop_img_block {
        width: 30vh;
    }

    .pop_block_link {
        width: 100%
    }

    .total_act {
        flex-direction: row;
    }

    .btab1, .btab2 {
        flex-direction: column;
    }

    .actimg_grande {
        width: 100%;
        height: 20vh;
    }

    .actimg_moyen, .actimg_petit, .actimg_plusquemoyen {
        width: 100%;
        height: 20vh;
        object-fit: cover;
    }

    .range1, .range2, .range3, .range4 {
        flex-direction: row;
    }

    .range1, .range4 {
        margin-top: 5vh;
    }

    .range1 {
        order: 3;
    }


    .act1, .act4 {
        width: 100%;
    }

    .act6, .act5, .act2, .act3 {
        width: 46%;
        flex: none;
    }
}

@media screen and (max-width: 1024px)  /*(max-width: 1024px) and (min-width: 767px)*/ {
    .ordi {
        display: inline-block;
    }

    div.corps {
        margin: 0 5vh;
    }

    #hebergement {
        flex-direction: column;
    }

    #ville {
        order: 2;
        margin: 0;
    }

    .heb { /*letter-spacing (l'étoiles)*/
        margin: 0;
    }

    .hebimg {
        width: 100%;
        height: 20vh;
        object-fit: cover;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }

    #populaires {
        order: 1;
        margin: 1.5vh 0;
    }

    .total_pop {
        flex-direction: column;
    }

    .pop1, .pop2, .pop3 {
        height: 20vh;
        max-height: 27%;
        width: 100%;
    }

    .pop1, .pop2 {
        margin-bottom: 2vh;
    }

    .pop_img_block {
        width: 30%;
        max-width: 100%;
        max-height: 20vh;
    }

    .total_act {
        flex-direction: row;
    }

    .btab1, .btab2 {
        flex-direction: column;
    }

    .actimg_grande {
        width: 100%;
        height: 20vh;
    }

    .actimg_moyen, .actimg_petit, .actimg_plusquemoyen {
        width: 100%;
        height: 20vh;
        object-fit: cover;
    }

    .range1, .range2, .range3, .range4 {
        flex-direction: column;
        flex: none;
    }

    .range1, .range4, .act3, .act6 {
        margin-top: 3vh;
    }

    .range1 {
        order: 3;
    }

    .act1, .act4 {
        width: 100%;
    }

    .act6, .act5, .act2, .act3 {
        width: 100%;
        flex: none;
    }

    .article_act {
        padding: 1vh 2vh;
    }
}

@media (max-height: 1366px) and (min-height: 1366px) /*SEULEMENT POUR IPAD PRO*/ {
    .ordi {
        display: inline-block;
    }

    #in_recherche { /*champ de recherch*/
        width: 100%;
    }

    .ico_geo {
        width: 15vh;
    }

    div.corps {
        margin: 0 5vh;
    }

    #hebergement {
        flex-direction: column;
    }

    #ville {
        order: 2;
        margin: 0;
    }

    /*.total_heb {
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
    }

    .btot {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }*/

    .total_heb {
        flex-direction: column;
        flex-wrap: nowrap;
        width: 48%;
    }

    .btot {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .heb {
        margin: 0;
    }

    #populaires {
        order: 1;
        margin: 1.5vh 0;
    }

    .pop1, .pop2, .pop3 {
        height: 15vh;
        max-height: 27%;
    }

    .pop1, .pop2 {
        margin-bottom: 2vh;
    }

    .pop_img_block {
        width: 25%;
        max-width: 100%;
        height: 15vh;
    }

    .total_act {
        flex-direction: row;
    }

    .btab1, .btab2 {
        flex-direction: column;
    }

    .actimg_grande {
        width: 100%;
        height: 20vh;
    }

    .actimg_moyen, .actimg_petit, .actimg_plusquemoyen {
        width: 100%;
        height: 20vh;
        object-fit: cover;
    }

    .range1, .range2, .range3, .range4 {
        flex-direction: column;
    }

    .range1, .range4, .act3, .act6 {
        margin-top: 3vh;
    }

    .range1 {
        order: 3;
    }

    .act1, .act4 {
        width: 100%;
    }

    .act6, .act5, .act2, .act3 {
        width: 100%;
        flex: none;
    }

    .article_act {
        padding: 1vh 2vh;
    }
}

@media screen and (max-width: 768px) 
 /*(max-width: 766px) and (min-device-width: 100px)*/ {
    .ordi {
        display: inline-block;
    }

    #in_recherche { /*champ de recherch*/
        width: 100%;
    }

    .ico_geo {
        width: 15vh;
    }

    div.corps {
        margin: 0 5vh;
    }

    #hebergement {
        flex-direction: column;
    }

    #ville {
        order: 2;
        margin: 0;
    }

    /*.total_heb {
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
    }

    .btot {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }*/

    .total_heb {
        flex-direction: column;
        flex-wrap: nowrap;
        width: 48%;
    }

    .btot {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .heb {
        margin: 0;
    }

    #populaires {
        order: 1;
        margin: 1.5vh 0;
    }

    .pop1, .pop2, .pop3 {
        height: 15vh;
        max-height: 27%;
    }

    .pop1, .pop2 {
        margin-bottom: 2vh;
    }

    .pop_img_block {
        width: 25%;
        max-width: 100%;
        height: 15vh;
    }


    .total_act {
        flex-direction: row;
    }

    .btab1, .btab2 {
        flex-direction: column;
    }

    .actimg_grande {
        width: 100%;
        height: 20vh;
    }

    .actimg_moyen, .actimg_petit, .actimg_plusquemoyen {
        width: 100%;
        height: 20vh;
        object-fit: cover;
    }

    .range1, .range2, .range3, .range4 {
        flex-direction: column;
    }

    .range1, .range4, .act3, .act6 {
        margin-top: 3vh;
    }

    .range1 {
        order: 3;
    }

    .act1, .act4 {
        width: 100%;
    }

    .act6, .act5, .act2, .act3 {
        width: 100%;
        flex: none;
    }

    .article_act {
        padding: 1vh 2vh;
    }
}

@media screen and (max-width: 600px) {
    div.corps {
        margin: 0;
    }

    header {
        margin: 0 2%;
    }
    /*MENU*/
    .navigation {
        flex-wrap: wrap;
    }

    .menu_act, .menu_inscr, .menu_heb {
        margin: 0 -2%;
    }

    .menu_bas, .menu_inscr, .menu_act, .menu_heb {
        line-height: 7vh;
        -webkit-transition: 0s ease; /* Safari and Chrome */
        -moz-transition: 0s ease; /* Firefox 4 */
        -o-transition: 0s ease; /* Opera */
    }

    .menu_bas {
        order: 2;
        width: 100%;
        display: flex;
        text-align: center;
        flex-direction: row;
        /* flex-grow: 1; */
        justify-content: flex-end;
    }

    .menu_inscr {
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        order: 1;
        flex-grow: 1;
        /* align-items: flex-end; */
        /* justify-content: flex-end; */
        text-align: end;
    }

    .menu_heb {
        border-top: 1px solid white;
        border-bottom: 1px solid #0065FC;
        width: 50%;
    }

    .menu_act {
        border-top: 1px solid white;
        border-bottom: 1px solid #F2F2F2;
        width: 50%;
    }

        /*.menu_inscr:hover {
            border-top: 1px solid white;
            color: #0065FC;
            display: flex;
            text-decoration: none;
            background-color: white;
        }*/

        .menu_act:hover, .menu_inscr:hover, .menu_heb:hover {
            border-top: 1px solid white;
            border-bottom: 1px solid #0065FC;
            color: #0065FC;
            display: flex;
            width: 50%;
            text-decoration: none;
            text-align: center;
            justify-content: center;
            background-color: white;
        }

    .menu_inscr:hover {
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        color: #0065FC;
        display: flex;
        order: 1;
        text-decoration: none;
        flex-grow: 1;
        align-items: flex-end;
        justify-content:flex-end;
        text-align: end;
        background-color: white;
    }
    /*FIN MENU*/
    .sousheader {
        padding: 0 2%;
    }

    /*BUTTON et recherche*/
    .block_recherche {
        width: 98%;
    }

    .b_recherche {
        background-color: #0065FC;
        outline: none;
        border: 0 solid;
        font-family: Raleway;
        font-weight: 600;
        color: white;
        cursor: pointer;
        font-size: 2.5vh;
    }

    .ordi {
        display: none;
    }

    .mobil {
        display: inline-block;
    }
    /*FIN BUTTON*/

    h2.titre {
        margin: 10px 0;
    }

    #populaires {
        border-radius: 0;
        padding-bottom: 5%;
    }

    .pop_img_block {
        width: 25%;
        max-width: 100%;
        height: 15vh;
    }

    .pop_block_link {
        display: contents;
    }

    #ville {
        background-color: white;
    }

    .btot {
        display: flex;
        flex-direction: column;
    }

    .total_heb {
        width: 100%;
        margin-bottom: 0;
    }

    #activite {
        padding: 2%;
    }

    .total_act {
        flex-direction: column;
    }

    .btab1, .btab2 {
        padding-bottom: 3vh;
    }

    div.about {
        margin: 0 3%;
        padding-bottom: 10vh;
        flex-direction: column;
    }

    .propos, .nos_hebergement, .assistance {
        padding: 10px 0 0 0;
    }

}


